---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metrics-server-config
  namespace: kube-system
data:
  metrics-server.cert: {{ lookup('file', kube_metrics_server_certfile) }}
  metrics-server.key: {{ lookup('file', kube_metrics_server_keyfile) }}
  kubelet-ca.cert: {{ lookup('file', kube_metrics_server_kubelet_cafile) }}
  requestheader-ca.cert: {{ lookup('file', kube_metrics_server_requestheader_client_ca) }}
