---
apiVersion: v1
kind: Secret
metadata:
  name: metrics-server-keyfile
  namespace: kube-system
type: Opaque
data:
  metrics-server.key: |
{{ lookup('file', kube_metrics_server_keyfile) | indent(4, indentfirst=True) }}
