---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    k8s-app: metrics-server
spec:
  selector:
    matchLabels:
      k8s-app: metrics-server
  template:
    metadata:
      name: metrics-server
      labels:
        k8s-app: metrics-server
    spec:
      serviceAccountName: metrics-server
      volumes:
      # mount in tmp so we can safely use from-scratch images and/or read-only containers
      - name: tmp-dir
        emptyDir: {}
      - name: metrics-server-certs-volume
        secret:
          secretName: metrics-server-certs
      - name: extension-apiserver-configmap-volume
        configMap:
          name: extension-apiserver-authentication
      containers:
      - name: metrics-server
        image: k8s.gcr.io/metrics-server/metrics-server:{{ kube_metrics_server_version }}
        imagePullPolicy: Always
        args:
        - --tls-cert-file=/certs/metrics-server.cert
        - --tls-private-key-file=/certs/metrics-server.key
        - --kubelet-certificate-authority=/certs/kubelet-ca.cert
        - --client-ca-file=/config/client-ca-file
        - --requestheader-client-ca-file=/config/requestheader-client-ca-file
        - --requestheader-extra-headers-prefix=X-Remote-Extra-
        - --requestheader-group-headers=X-Remote-Group
        - --requestheader-username-headers=X-Remote-User
        - --metric-resolution={{ kube_metrics_server_metric_resolution }}
        - --v={{ kube_metrics_server_verbosity }}
        volumeMounts:
        - name: tmp-dir
          mountPath: /tmp
        - name: metrics-server-certs-volume
          mountPath: /certs
          readOnly: true
        - name: extension-apiserver-configmap-volume
          mountPath: /config
